DB_NAME = local_db
DB_HOST = manage-service-db-1
DB_PORT = 5434
DB_USER = username
DB_PASSWORD = password

TEST_DB_NAME = test_local_db
TEST_DB_HOST = manage-service-test_db-1
TEST_DB_PORT = 6434
TEST_DB_USER = test_username
TEST_DB_PASSWORD = test_password

JWT_ALGORITHM=HS256
JWT_SECRET_KEY="N_0Ia%11Kn+1%91Uyq8*4$oqC06Unm*$2!1jdIcn032-01@dm4o*13bhS?8!o=2("
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_MINUTES=525600
VERIFICATION_CODE_EXPIRE_SECONDS=120

DEBUG=False